.root {
	-fx-font-size: 10pt;
	-fx-font-family: Verdana;
	-fx-accent: #1e74c6;
}

/* Styles text entered into the CLI textField */
.text-input {
	-fx-font-size: 10pt;
	-fx-text-fill: #1e74c6;
	-fx-highlight-fill: derive(-fx-control-inner-background, -20%);
	-fx-highlight-text-fill: #c7001e;
	-fx-prompt-text-fill: derive(-fx-control-inner-background, -30%);
	-fx-background-color: linear-gradient(
			to bottom,
			derive(-fx-text-box-border, -10%),
			-fx-text-box-border
		),
		linear-gradient(
			from 0px 0px to 0px 5px,
			derive(-fx-control-inner-background, -9%),
			-fx-control-inner-background
		);
	-fx-background-insets: 0, 1;
	-fx-background-radius: 3, 2;
	-fx-cursor: text;
	-fx-padding: 0.333333em 0.583em 0.333333em 0.583em; /* 4 7 4 7 */
}

/* Styles the text field when it is in focus */
.text-input:focused {
	-fx-font-size: 10pt;
	-fx-highlight-fill: -fx-accent;
	-fx-highlight-text-fill: white;
	-fx-background-color: -fx-focus-color, -fx-control-inner-background,
		-fx-faint-focus-color,
		linear-gradient(
			from 0px 0px to 0px 5px,
			derive(-fx-control-inner-background, -9%),
			-fx-control-inner-background
		);
	-fx-prompt-text-fill: transparent;
}
/*****************************************************************************/
#command-button {
	-fx-background-radius: 15;
}
#command-button:focused {
	-fx-border-color: -fx-accent;
	-fx-border-radius: 15;
	-fx-focus-text-color: -fx-accent;
	-fx-background-radius: 15;
}
#command-button:hover {
	-fx-background-color: -fx-shadow-highlight-color, -fx-outer-border,
		-fx-inner-border, -fx-body-color;
	-fx-background-insets: 0 0 -1 0, 0, 1, 2;
	-fx-background-radius: 15;
	-fx-padding: 0.333333em 0.666667em 0.333333em 0.666667em; /* 4 8 4 8 */
	-fx-text-fill: -fx-text-base-color;
	-fx-alignment: CENTER;
	-fx-content-display: LEFT;
}
/*****************************************************************************/
#tile-points {
	-fx-font-size: 6pt;
}
#player-turn {
	-fx-background-color: derive(-fx-base, 20%);
	-fx-background-radius: 15;
	-fx-border-color: -fx-accent;
	-fx-border-radius: 15;
	-fx-font-size: 10pt;
}
#opponent-turn {
	-fx-background-color: derive(-fx-base, 20%);
	-fx-background-radius: 15;
	-fx-font-size: 10pt;
}
/*****************************************************************************/
#board-view {
	-fx-alignment: center;
	-fx-hgap: 3;
	-fx-vgap: 3;
}

#buttons-view {
	-fx-spacing: 30;
	-fx-padding: 10, 10, 10, 10;
	-fx-alignment: center;
}

#cli-view {
	-fx-pref-height: 460;
}

#history-view {
	-fx-pref-height: 445;
	-fx-padding: 5, 5, 5, 5;
	-fx-background-color: transparent;
}

#history-view-text {
	-fx-pref-height: 445;
	-fx-alignment: bottom_left;
}

#input-view {
	-fx-pref-height: 20;
	-fx-pref-width: 600;
}

#frame-view {
	-fx-alignment: center;
	-fx-pref-width: 600;
	-fx-hgap: 3;
	-fx-vgap: 3;
}

#options-view {
	-fx-pref-height: 155;
	-fx-alignment: center;
}

#options-view-separator {
	-fx-stroke-width: 0.25;
}

#score-view {
	-fx-spacing: 30;
	-fx-alignment: center;
	-fx-text-alignment: center;
	-fx-padding: 10, 10, 10, 10;
}
/*****************************************************************************/
/* Square fill and background colours */
#square-blank {
	-fx-fill: #f8f8ff;
}

#square-double-ws {
	-fx-background-color: #ffb6c1;
}

#square-double-ls {
	-fx-background-color: #add8e6;
}
#square-normal {
	-fx-background-color: #f8f8ff;
}

#square-triple-ls {
	-fx-background-color: #5f9ea0;
}

#square-triple-ws {
	-fx-background-color: #cd5c5c;
}

#tile-on-board {
	-fx-background-color: #ffffe0;
	-fx-min-height: 35, 35;
	-fx-max-height: 35, 35;
	-fx-hgap: 3;
	-fx-vgap: 3;
	-fx-alignment: center;
}

#tile-in-frame {
	-fx-background-color: #ffffe0;
	-fx-min-height: 35, 35;
	-fx-max-height: 35, 35;
	-fx-padding: 6, 6, 6, 6;
	-fx-hgap: 3;
	-fx-vgap: 3;
	-fx-alignment: center;
}
