.root {
	-fx-font-size: 10pt;
	-fx-font-family: Verdana;
	-fx-accent: #1e74c6;
}

/* Styles text entered into the CLI textField */
.text-input {
	-fx-font-size: 10pt;
	-fx-text-fill: #1e74c6;
	-fx-highlight-fill: derive(-fx-control-inner-background, -20%);
	-fx-highlight-text-fill: #c7001e;
	-fx-prompt-text-fill: derive(-fx-control-inner-background, -30%);
	-fx-background-color: linear-gradient(
			to bottom,
			derive(-fx-text-box-border, -10%),
			-fx-text-box-border
		),
		linear-gradient(
			from 0px 0px to 0px 5px,
			derive(-fx-control-inner-background, -9%),
			-fx-control-inner-background
		);
	-fx-background-insets: 0, 1;
	-fx-background-radius: 3, 2;
	-fx-cursor: text;
	-fx-padding: 0.333333em 0.583em 0.333333em 0.583em; /* 4 7 4 7 */
}

/* Styles the text field when it is in focus */
.text-input:focused {
	-fx-font-size: 10pt;
	-fx-highlight-fill: -fx-accent;
	-fx-highlight-text-fill: white;
	-fx-background-color: -fx-focus-color, -fx-control-inner-background,
		-fx-faint-focus-color,
		linear-gradient(
			from 0px 0px to 0px 5px,
			derive(-fx-control-inner-background, -9%),
			-fx-control-inner-background
		);
	-fx-background-insets: -0.2, 1, -1.4, 3;
	-fx-background-radius: 3, 2, 4, 0;
	-fx-prompt-text-fill: transparent;
}
/*****************************************************************************/
/* #tile {
    scene height (610) * 0.0578125 
    -fx-min-size: 35.266, 35.266;
    -fx-max-size: 35.266, 35.266;
    -fx-padding: 6, 6, 6, 6;
    -fx-hgap: 3.05; 
} */

#tile-points {
	-fx-font-size: 6pt;
	-fx-font-family: Verdana;
}

/* #tile .tile .GridPane {
    -fx-min-size: calc(610 * 0.0578125, 610 * 0.0578125);
    -fx-max-size: calc(610 * 0.0578125, 610 * 0.0578125);
    -fx-padding: 6;
    -fx-hgap: calc(610 * 0.005);
} */
/*****************************************************************************/
#board-view {
	-fx-alignment: top_left;
	-fx-hgap: 3;
	-fx-vgap: 3;
}

#buttons-view {
	-fx-spacing: 30;
    -fx-padding: 10, 10, 10, 10;
    -fx-alignment: center;
}

#cli-view {
	/* CLI view pref height is 610 (scene height) * 0.75 */
	-fx-min-height: 457.5;
}

#history-view {
	/* Pref height is 610 (scene height) * 0.75 */
	-fx-pref-height: 475.5;
	-fx-padding: 5, 5, 5, 5;
	-fx-background-color: transparent;
}

#history-view-box {
	/* history-view height - 20 */
	-fx-min-height: 455.5;
}

#input-view {
	/* input-view min width is scene width - scene heigtht (- 2 ?) */
	-fx-min-width: 590;
}

#frame-view {
	-fx-alignment: center;
	-fx-min-width: 590;
	-fx-hgap: 3;
	-fx-vgap: 3;
}

#options-view {
	/* Options view pref height is 610 (scene height) * 0.25 */
    -fx-pref-height: 152.5;
    -fx-alignment: center;
}

#options-view-separator {
	-fx-stroke-width: 0.25;
}

#score-view {
	-fx-text-alignment: center;
	-fx-padding: 10, 10, 10, 10;
}
/*****************************************************************************/
/* Square fill and background colours */
#square-blank {
	-fx-fill: #f8f8ff;
}

#square-double-ws {
	-fx-background-color: #ffb6c1;
}

#square-double-ls {
	-fx-background-color: #add8e6;
}
#square-normal {
	-fx-background-color: #f8f8ff;
}

#square-triple-ls {
	-fx-background-color: #5f9ea0;
}

#square-triple-ws {
	-fx-background-color: #cd5c5c;
}

#square-with-tile {
	-fx-background-color: #ffffe0;
	-fx-min-size: 35.266, 35.266;
	-fx-max-size: 35.266, 35.266;
	-fx-padding: 6, 6, 6, 6;
	-fx-hgap: 3;
	-fx-alignment: center;
}
